.navBar-container{
    background: transparent;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    margin: .5rem 9rem;
    flex-direction: row  ;
}
#nav-mobile{
    display: flex;
    display: inline-flex;
    flex-basis: auto;
    flex-wrap: wrap;

}

.navBar-links-TM{
    color: white;
    flex-direction: column  ;
    flex: 4;
    margin: 50px;
    
}
.navBar-links-TM:hover{
    color: #039be5;
}


.brand-logo{
    margin-top: .7rem;
    margin-right: 2rem;
    color: white;
    font-size: 180%;
    width: 20%;
}

.brand-logo>img{
    width: 18%;
    margin: -0.7rem .4em;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .navBar-container{
        margin: .5rem 2rem;
    }
}