body{
    background-color: rgb(5, 11, 34);
}

.container{
    width: 100%;
    background-color: rgb(5, 11, 34);
    margin: 0;
    display: flex;
    justify-content: center;
}
.login-form
{
    background-color: white;
    margin-top: 2rem;
    width: 30%;
    border-radius: 20px;
    padding-bottom: 1rem;
}

.form-header-TM{
    font-weight: bold;
    font-size: 280%
}

.MuiInputBase-input{
    border-bottom: none !important;
    outline: none;
}

.MuiInputBase-input:focus{
    outline: none;   
}

.add-captain-form
{
    margin: 20px auto;
    padding: 30px;
    width: 60%;

    background:url("../../background.jpg");
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .add-captain-form
    {
    margin: 20px auto;
    padding: 30px;

    width:80%
    }

    .login-form{
        margin-top: 4rem;
        width: 80%;
    }
  }
